<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="7.2.0.1422" targetFramework="xamarinios10" />
  <package id="Prism.Unity.Forms" version="7.0.0.396" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Unity" version="5.5.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.4.0.991265" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Svg" version="1.0.0-pre4" targetFramework="xamarinios10" />
</packages>